<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body{
      background-color:	#E6E6FA;
      font: Arial, Helvetica, sans-serif;
    }

    .heart{
      float: right;

    }
    .panel-body {
    padding: 15px;
}

.media>.pull-left {
    margin-right: 10px;
}
.pull-left {
    float: left!important;
}
.text-center {
    text-align: center;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.pull-right{
  float: right;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;

p{
  font-size:5px;
}
}
div {
    display: block;
}
 .big {
font-weight: bold;
}
.active{
  outline: 1px dashed black;
}
p{
  font-size: 18px;
}
.bang{
  font-weight: bold;
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="background-color:#ffd500;">Show<b>Trackr</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>

      <li><a href="/add">Add</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="/login" >Login</a></li>
      <li><a href="/signup"> Sign Up</a></li>
    </ul>
  </div>
</nav>



<div class="container">
  <div class="panel panel-default">
    <div class="panel-body" >

<div class="col-sm-3" >
  <div class="pull-left">
  <img src="https://cdn11.bigcommerce.com/s-b72t4x/images/stencil/1280x1280/products/24556/33921/PP32783__82409.1427845388.jpg?c=2" alt="game of thorns" class="img-square"      width="220px" height="342px"> <br>


  <br><div class="text-center">
              <a class="btn btn-block btn-primary" href="/login" class="active">Login to Subscribe</a>
            </div>
</div>
</div>
<div class="media-body ">
          <h3 class="big">
      Game Of Thrones
            <span class="pull-right text-danger fa fa-heart heart">&nbsp9.5</span>
          </h3>
          <h5  class="bang">
            <span class="glyphicon glyphicon-calendar"></span>
            Sunday <em class="ng-binding">9:00 PM</em> on
            HBO
          </h5>

          <p>Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss for HBO. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is A Game of Thrones..</p>
        </div>
      </div>
    </div>
<div class="container">
<div class="panel panel-default">
    <div class="panel-body" style="background-color:lightblue;"><p>The Next Episode Starts In 2 Months</p></div>
  </div>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Episode</div>
  <div class="panel-body">
    <div style="border-left:5px solid black;" >
  <p>&nbsp;<b>Inside Game of Thrones</b> Season 0, Episode 1 <br>&nbsp;
    <span class="glyphicon glyphicon-time"></span>  12/5/10 5:30 AM <br>&nbsp;
    A short look into the film-making process for the production Game of Thrones</p></div>
<div style="border-left:5px solid black;" >
<p>&nbsp;
<b>15-Minute Preview</b> Season 0, Episode 2 <br>&nbsp;

<span class="glyphicon glyphicon-time"></span>4/4/12 5:00 AM<br>&nbsp;

An approximately 15-minute preview of the first episode of Game of Thrones.</p></div>
<div style="border-left:5px solid black;" ><p>&nbsp;<b>
Making Game of Thrones</b> Season 0, Episode 3<br>&nbsp;

<span class="glyphicon glyphicon-time"></span>4/5/10 5:30 AM<br>&nbsp;

The feature including never-before-seen footage from the set and interviews from the cast and crew
</div>
  </div>
</div>
</div>


  </body>
</html>
